body{
  margin: 0 ;
  font-family: 'Ubuntu' , sans-serif;
}

main{
  margin: 0 ;
}


/* ==
Top Nav
== */

.topnav a.active {
  float: left;
  color: black;
  width: max-content;
  display: inline;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 10px 0;
}

.topnav a.active:hover{
    background-color: transparent;
    color: #000000; 
}

  .topnav {
    margin: 10px 20px;
    overflow: hidden;
    background-color: #fff;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 5px;
    font-weight: 400;
  }
  
  .topnav a:hover {
      color: #6063de;
  }
  
  .topnav .icon {
    display: none;
  }

  .topnav a#sign-up{
      color: #6063de ;
      background-color: #f0f9f8f3;
      margin-right: 0;
  }

  .topnav a#sign-up:hover{
      text-decoration: underline;
  }

  nav hr{
    border-top: solid 1px  rgb(180, 180, 180);
  }


  @media screen and (max-width: 685px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 685px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      background-color: white;
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
      background-color: #eff0f8;
    }
    .topnav a.active{
        background-color: white;
    }
    .topnav a#sign-up{
      background-color: #eff0f8;
        border-radius: 0;
        border: solid #000000;
        margin-right: 5px;
    }
  }


  /* ==
  Hero Section
  == */

  .hero{
    text-align: center;
    /* margin: 10px 20px; */
  }

  .hero img.hero-image{
    width: 350px;
  }

  .hero h1{
    font-weight: 700;
    font-size: 35px;
    margin: 0;
  }

  .hero p{
    color: gray;
    font-weight: 400;
    padding: 0 5px;
  }

  .hero a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px;
    font-weight: 400;
  }

  .hero .get-started{
    background-color: #6063de;
    color: #eff0f8;
    margin: 0 5px 0 0;
  }
  
  .hero .learn-more{
    background-color: #eff0f8;
    color: #6063de;
    margin: 0 0 0 5px;
  }

  .hero a:hover{
    text-decoration: underline;
  }

  @media screen and (min-width: 1200px){
    .hero{
      display: flex;
      width: max-content;
      margin: 0 auto;
    }
    .hero img{
      margin-right: 20px;
    }
    .hero h1{
      margin-top: 50px;
    }
    .hero .get-started{
      margin-top: 25px;
    }
    .hero .lear-more{
      margin-top: 25px;
    }
  }


  /* ==
  Work Section
  == */

  .work{
    background-color: #f9f9f9;
    text-align: center;
    margin: 20px 0;
    padding: 35px 0;
  }

  .work h2{
    padding: 0 10px 0;
    margin: 0;
  }

  .work p{
    color: gray;
    font-weight: 400;
    padding: 0 5px;
  }

  .work .explore{
    background-color: #eff0f8;
    width: max-content;
    margin: 0 auto;
    padding: 10px 16px;
    color: #6063de;
  }

  .work .explore a{
    text-decoration: none;
    color: #6063de;
  }

  .work .explore a:hover{
    text-decoration: underline;
  }

  .work img{
    width: 350px;
  }

  @media screen and (min-width: 1200px){
    .work-2{
      display: flex;
      width: max-content;
      margin:  0 auto;
    }
  }


  /* ==
  Quote Section
  == */


  .quote{
    text-align: center;
  }

  .quote span{
    color: #6063de;
  }

  .quote .logos{
    display: flex;
    width: max-content;
    margin: 0 auto;
  }

  .quote p{
    color: gray;
  }

  .quote img{
    filter: grayscale(100%);
  }

  .quote img:hover{
    filter: grayscale(0);
  }

  .quote .logos img{
    width: 100px;
  }

  .quote .logos .big{
    width: 50px;
    margin: 0 100px 0 0;
  }

  .quote .logos-2{
    margin: 20px auto;
  }




  /* ==
  Newsletter
  == */

  .newsletter{
    background: rgb(8,186,181);
    background: linear-gradient(90deg, rgba(8,186,181,1) 0%, rgba(9,107,121,1) 80%, rgba(0,255,214,1) 99%);
    text-align: center;
    padding: 20px 0 ;
  }

  .newsletter h3{
    color: #eff0f8;
    margin: 0 0 10px 0;
  }

  .newsletter #submit{
    border: none;
    background-color: #6063de;
    color: #eff0f8;
    font-weight: 400;
    padding: 10px 16px;
    font-size: 16px;
  }

  .newsletter #email{
    padding: 10px 16px;
    border: none;
    margin: 0 10px 0 0;
  }



  /* ==
  Footer
  == */

  footer{
    background-color: black;
    color: #eff0f8;
    padding: 10px 20px;
  }

  .p-logo h1{
    font-weight: bolder;
    font-size: 25px;
    margin: 10px 0 0 0;
  }

  .fot-links .links-1 ul{
    list-style-type: none;
    margin: 10px 50px 0 0;
    padding: 0;
  }

  .fot-links .links-1 ul h4{
    margin: 0 0 5px 0;
    color: #eff0f8;
  }

  .fot-links .links-1 ul a{
    text-decoration: none;
    font-weight: 400;
    color: rgb(75, 75, 75);
  }

  .fot-links .links-1 ul a:hover{
    color: #eff0f8;
  }

  .fot-links{
    display: flex;
  }

  
  .fot-links .links-2 ul{
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
  }

  .fot-links .links-2 ul h4{
    margin: 0 0 5px 0;
    color: #eff0f8;
  }

  .fot-links .links-2 ul a{
    text-decoration: none;
    font-weight: 400;
    color: rgb(75, 75, 75);
  }

  .fot-links .links-2 ul a:hover{
    color: #eff0f8;
  }

  .fot-links-2{
    display: flex;
  }

  
  .fot-links-2 .links-1 ul{
    list-style-type: none;
    margin: 10px 50px 0 0;
    padding: 0;
  }

  .fot-links-2 .links-1 ul h4{
    margin: 0 0 5px 0;
    color: #eff0f8;
  }

  .fot-links-2 .links-1 ul a{
    text-decoration: none;
    font-weight: 400;
    color: rgb(75, 75, 75);
  }

  .fot-links-2 .links-1 ul a:hover{
    color: #eff0f8;
  }

  .fot-links-2 .links-2 ul{
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
  }

  .fot-links-2 .links-2 ul h4{
    margin: 0 0 5px 0;
    color: #eff0f8;
  }

  .fot-links-2 .links-2 ul a{
    text-decoration: none;
    font-weight: 400;
    color: rgb(75, 75, 75);
  }

  .fot-links-2 .links-2 ul a:hover{
    color: #eff0f8;
  }

  @media screen and (min-width: 1200px){
   .fot-links, .fot-links-2, .p-logo{
      display: inline-flex;
    }
    .p-logo h1{
      margin-right: 350px;
    }
    footer p{
      text-align: center;
    }
    .fot-links .links-2{
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 675px ){
    .fot-links, .fot-links-2{
      display: inline-flex;
    }
    .fot-links-2 .links-1{
      margin-left: 20px;
    }
   }